@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Quicksand", serif;
}

.section {
  background-image: url(./assets/bg.png);
  background-size: cover;
  background-repeat: repeat-x;
}

/* navbar */
.nav-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navpages ul {
  list-style: none;
  display: flex;
  font-weight: 700;
}
.navpages ul > li:nth-child(1) {
  color: #fea301;
}
.navpages ul > li:nth-child(2) {
  color: #01acfd;
}
.navpages ul > li:nth-child(3) {
  color: rgba(5, 212, 223, 1);
}
.navpages ul > li:nth-child(4) {
  color: rgba(93, 88, 239, 1);
}
.navbtn input {
  padding: 10px 20px;
  border: none;
  background-color: #fea301;
  border-radius: 8px;
  color: azure;
  font-weight: 600;
  font-size: medium;
}
.navlogotitle {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
}
.pages {
  list-style: none;
  padding: 20px 30px;
}
/* bannersection */
.bnr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin: 10px 30px;
}
.bnrTextContent {
  font-size: 20px;
  padding: 20px 20px;
  margin: 10px 20px;
  text-align: left;
}
.bnrBigTxt {
  font-size: 3rem;
  font-weight: 800;
}
.empowering {
  color: #fea301;
}
.towards {
  color: #01acfd;
}
.bnrTxtBtn input {
  padding: 10px 20px;
  font-size: medium;
  border: none;
  color: azure;
  border-radius: 8px;
  background-color: black;
}
.bannerimg img {
  width: 100%;
}

/* card section  */
.cardGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin: 20px 40px;
}
.card {
  padding: 10px;
  margin: 10px 10px;
}
.cardbtn {
  display: flex;
  justify-content: center;
}
.cardbtn button {
  padding: 5px 17px;
  margin: 10px;
  border: none;
  font-weight: 900;
  font-size: xx-large;
  color: azure;
  background-color: rgba(254, 163, 1, 1);
  border-radius: 30px;
}
.standard {
  display: flex;
  justify-content: center;
}

.singlecard {
  width: 370px;
  height: 480px;
  border: 1px solid rgba(222, 245, 255, 1);
  border-radius: 18px;
  background: linear-gradient(
    to bottom,
    rgba(222, 245, 255, 1),
    white,
    white,
    white
  );
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.singlecardimg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  padding-top: 7%;
  margin: 10px 5px;
}
.singlecardimg img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.singlecardtxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.singlecardtxt p:nth-child(1) {
  font-size: 25px;
}
.singlecardtxt p:nth-child(2) {
  font-size: 15px;
  text-align: center;
}
.singlecardtxt p:nth-child(3) {
  font-size: 17px;
  color: rgba(100, 200, 255, 1);
}
.singlecard2 > .singlecardtxt p:nth-child(3) {
  font-size: 17px;
  color: rgba(240, 170, 0, 1);
}
.singlecard3 > .singlecardtxt p:nth-child(3) {
  font-size: 17px;
  color: rgba(135, 0, 255, 1);
}
.singlecard2 {
  border-radius: 18px;
  border: 1px solid rgba(255, 244, 220, 1);
  background: linear-gradient(
    to bottom,
    rgba(255, 244, 220, 1),
    white,
    white,
    white
  );
}
.singlecard3 {
  border-radius: 18px;
  border: 1px solid rgba(242, 232, 255, 1);
  background: linear-gradient(
    to bottom,
    rgba(238, 225, 255, 1),
    white,
    white,
    white
  );
}
/* story section  */
.section3 {
  background: url(./assets/bg.png),
    linear-gradient(to bottom, white, rgb(243, 227, 191));
  background-position: center;
  background-size: cover;
}
.ourstories {
  text-align: center;
}
.storygroup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.storybtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.storybtn button {
  padding: 10px 20px;
  margin: 40px 20px;
  font-size: medium;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: azure;
}

.datebtn button {
  padding: 10px 20px;
  margin-left: 40px;
  position: relative;
  top: -27px;
  border: none;
  color: azure;
  font-size: large;
  border-radius: 20px;
  background-color: rgba(60, 216, 232, 1);
}

.singleStory {
  width: 540px;
  height: 580px;
  margin: 20px 30px;
  background: white;
  border-radius: 18px;
}
.singleStory img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.bigstorytxt {
  margin: 15px 5px;
  padding: 10px 30px;
}
.bigstorytxt p:nth-child(1) {
  font-weight: 700;
  font-size: larger;
}
.gridStoryGroup {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 2fr);
}
.gridstory {
  background: white;
  border-radius: 16px;
}

.gridstory img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.gridstory button {
  padding: 5px 10px;
  margin-left: 40px;
  position: relative;
  top: -22px;
  border: none;
  color: azure;
  font-size: large;
  border-radius: 20px;
  background-color: rgba(149, 178, 38, 1);
}
.gridstroy2 button {
  background-color: rgba(93, 88, 240, 1);
}
.gridstory > div p:nth-child(1) {
  padding: 1px 20px;
}
/* footer section  */
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  justify-items: top;
  padding: 5%;
  color: azure;
  background: rgba(1, 172, 253, 1);
}
.footerlogo {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footerlogotittle {
  font-weight: 700;
  font-size: 1.5rem;
}
.footerlogotxt {
  width: 500px;
}
.aboutschool p {
  font-weight: 600;
  font-size: medium;
}
.aboutschool li {
  text-align: left;
  padding: 5px 1px;
}

.aboutschool li {
  list-style: none;
}
.footersociallogo {
  display: flex;
  justify-content: left;
}
.footertouch {
  font-weight: 600;
  font-size: medium;
}
.footersociallogo > div img {
  padding: 2px;
}
@media (min-width: 270px) and (max-width: 768px) {
  /* nav section  */
  .nav-main {
    width: 100%;
    border-bottom: 2px solid rgba(254, 163, 1, 1);
  }

  .navtitle {
    display: none;
  }
  .navpages ul {
    display: none;
  }
  .navbtn {
    display: none;
  }
  .drawers {
    border: 2px solid rgb(5, 5, 5);
    margin-bottom: 4px;
    width: 20px;
    border-radius: 5px;
  }
  /* bannersection */
  .bnr {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .bnrSmlTxt {
    font-size: medium;
    font-size: 4 rem;
  }
  .bnrTextContent {
    font-size: 1rem;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  .bnrBigTxt {
    font-weight: 600;
    font-size: 2.5rem;
  }
  .bannerimg img {
    width: 100%;
    height: 100%;
  }

  /* card section  */

  .card {
    padding-bottom: 5%;
  }
  .cardGroup {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
  }
  .cardbtn {
    display: none;
  }
  .singlecard {
    width: 100%;
    height: 100%;
  }

  /* story section  */
  .bigStory {
    display: none;
  }
  .gridStoryGroup {
    width: 100%;
    margin: 10px;
  }
  .gridstory {
    width: 100%;
    height: 100%;
  }
  .gridstory button {
    font-size: medium;
    margin-left: 20px;
  }

  /* footer section  */
  .footer {
    display: block;
    justify-content: flex-start;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  /* nav section  */
  .nav-main {
  }
  .navlogotitle {
    display: flex;
    align-items: center;
  }
  .navpages ul {
    display: none;
    visibility: hidden;
  }
  .navbtn {
  }

  .drawers {
    border: 2px solid rgb(5, 5, 5);
    margin-bottom: 4px;
    width: 20px;
    border-radius: 5px;
  }
  /* bannersection */

  /* card section  */

  /* story section  */

  /* footer section  */
}
